<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>Task Management | Dashboard</title>
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png" />
    <link rel="icon" href="assets/img/logo.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="assets/vendor/pace/pace.css">
    <script src="assets/vendor/pace/pace.min.js"></script>
    <!--vendors-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/jquery-scrollbar/jquery.scrollbar.css">
    <link rel="stylesheet" href="assets/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="assets/vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="assets/vendor/timepicker/bootstrap-timepicker.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="assets/fonts/jost/jost.css">
    <!--Material Icons-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/materialdesignicons/materialdesignicons.min.css">
    <!--Bootstrap + atmos Admin CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/atmos.min.css">
    <!-- Additional library for page -->
    <link rel="stylesheet" href="assets/vendor/fullcalender/fullcalendar.min.css">
</head>

<body class="sidebar-pinned ">
    <%- include('partials/sidebar.ejs') %>
    <main class="admin-main">
        <%- include('partials/header.ejs') %>
        <section class="admin-content">
            <div class="bg-dark m-b-30">
                <div class="container">
                    <div class="row p-b-60 p-t-60">
                        <div class="col-md-12 m-auto text-white p-b-30">
                            <h1> Dashboard </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pull-up">
                <div class="row">
                    <div class="col-md-12 m-auto text-white">
                        <a href="javascript:void(0);" class="btn m-b-15 ml-2 mr-2 btn-primary" id="create_project">Create Project</a>
                    </div>
                </div>
                <div class="row" id="project_card"></div>

            </div>
        </section>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="createProjectModal" aria-labelledby="createProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content m-t-80">
                <div class="modal-body">
                    <form class="needs-validation" id="createProjectForm" method="POST" action=""
                    novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="name">Project Name</label>
                                <input type="text" class="form-control" id="projectName" required />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer ">
                    <a href="javascript:void(0);" class="btn btn-primary" id="create_project_btn">OK</a>
                    <a href="javascript:void(0);" class="btn btn-secondary" data-dismiss="modal"
                        aria-label="Close">cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/vendor/popper/popper.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="assets/vendor/listjs/listjs.min.js"></script>
    <script src="assets/vendor/moment/moment.min.js"></script>
    <script src="assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="assets/js/form-validate.js"></script>

    <script>

        function getProjects() {
            $("#project_card").html('');
            $.ajax({
                url: '/projects',
                type: 'POST',
                data: {},
                success: function (result) {
                    if (result.status == "success") {
                        console.log(result)
                        for (var project of result.projects) {
                            $("#project_card").append('<div class="col-md-3 m-b-30">' +
                                '<a href="/project/' + project._id + '">' +
                                '<div class="card">' +
                                    '<div class="card-body">' +
                                        '<div class="card-controls">' +
                                            '<div class="avatar" data-toggle="tooltip" title="' + project.ownerFirstname + '">' +
                                                '<img src="../assets/img/users/user-1.jpg" alt="..." class="avatar-img rounded-circle" style="height:25px; width: 25px;">' +
                                            '</div>' +
                                        '</div>' +
                                        '<div class="text-center p-t-40 p-b-30">' +
                                            '<h2 class="text-success">' + project.name + '</h2>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '</a>' +
                                '</div>'
                            );
                        }
                    } else {
                        $.notify({
                            // options
                            icon: 'mdi mdi-alert',
                            title: 'Alert',
                            message: result.message
                        }, {
                            placement: {
                                align: "right",
                                from: "top"
                            },
                            showProgressbar: true,
                            timer: 500,
                            // settings
                            type: 'danger',
                            template: '<div data-notify="container" class=" bootstrap-notify alert " role="alert">' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar bg-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                '</div>' +
                                '<div class="media "> <div class="avatar m-r-10 avatar-sm"> <div class="avatar-title bg-{0} rounded-circle"><span data-notify="icon"></span></div> </div>' +
                                '<div class="media-body"><div class="font-secondary" data-notify="title">{1}</div> ' +
                                '<span class="opacity-75" data-notify="message">{2}</span></div>' +
                                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                ' <button type="button" aria-hidden="true" class="close" data-notify="dismiss"><span>x</span></button></div></div>'

                        });
                    }
                },
            });
        }
        
        getProjects();
        $("#create_project").on('click', function (e) {
            $("#createProjectModal").modal('show');
        });

        $("#create_project_btn").on('click', function(e) {
            console.log($("#projectName").val())
            var form = $("#createProjectForm");
            if (form[0].checkValidity() === false) {
                e.preventDefault();
                e.stopPropagation();
                form[0].classList.add("was-validated");
                return;
            }

            $.ajax({
                url: '/create-project',
                type: 'POST',
                data: {
                    name: $("#projectName").val()
                },
                success: function (result) {
                    if (result.status == "success") {
                        $("#project_card").append('<div class="col-md-3 m-b-30">' +
                                '<a href="/project/' + result.data._id + '">' +
                                '<div class="card">' +
                                    '<div class="card-body">' +
                                        '<div class="card-controls">' +
                                            '<div class="avatar" data-toggle="tooltip" title="' + result.data.ownerFirstname + '">' +
                                                '<img src="../assets/img/users/user-1.jpg" alt="..." class="avatar-img rounded-circle" style="height:25px; width: 25px;">' +
                                            '</div>' +
                                        '</div>' +
                                        '<div class="text-center p-t-40 p-b-30">' +
                                            '<h2 class="text-success">' + result.data.name + '</h2>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '</a>' +
                                '</div>')
                        $("#createProjectModal").modal('hide');
                        
                    } else {
                        $.notify({
                            // options
                            icon: 'mdi mdi-alert',
                            title: 'Alert',
                            message: result.message
                        }, {
                            placement: {
                                align: "right",
                                from: "top"
                            },
                            showProgressbar: true,
                            timer: 500,
                            // settings
                            type: 'danger',
                            template: '<div data-notify="container" class=" bootstrap-notify alert " role="alert">' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar bg-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                '</div>' +
                                '<div class="media "> <div class="avatar m-r-10 avatar-sm"> <div class="avatar-title bg-{0} rounded-circle"><span data-notify="icon"></span></div> </div>' +
                                '<div class="media-body"><div class="font-secondary" data-notify="title">{1}</div> ' +
                                '<span class="opacity-75" data-notify="message">{2}</span></div>' +
                                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                ' <button type="button" aria-hidden="true" class="close" data-notify="dismiss"><span>x</span></button></div></div>'

                        });
                    }
                },
            });
        })
    </script>
</body>